.container {
  width: 70%;
  margin: 0 auto;
  background: #303f9f;
  overflow: auto;
}
.leftbox {
  width: 65%;
  color: inherit;
}
.rightbox {
  width: 35%;
  color: inherit;
}
.leftbox,
.rightbox {
  float: left;
  box-sizing: border-box;
  margin-bottom: 20px;
}
nav {
  width: 20%;
  float: left;
}
nav p {
  margin: 1em;
  color: #ffffff;
  line-height: 1.5;
}
